In [53]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("loan.csv")

In [3]:
df

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,Loan_Term,Loan_Purpose,Property_Area,Education_Level,Gender,Employer_Category,Loan_Approved
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,84.0,Personal,Urban,Not Graduate,Female,Private,No
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,NaN,Car,Semiurban,Graduate,NaN,Private,No
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,72.0,NaN,Urban,NaN,Female,Government,Yes
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,60.0,Business,Rural,Graduate,Female,Government,No
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,72.0,Car,NaN,Graduate,Male,Private,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,NaN,9092.0,Salaried,58.0,Married,0.0,557.0,0.0,0.59,5370.0,43563.0,8311.0,72.0,Personal,NaN,Not Graduate,Male,Unemployed,No
996,997.0,3279.0,6356.0,Self-employed,58.0,Married,1.0,646.0,3.0,0.19,NaN,18361.0,22563.0,12.0,Business,Urban,Graduate,Female,Government,No
997,998.0,15192.0,8433.0,Contract,48.0,Single,1.0,666.0,1.0,0.40,8581.0,41335.0,16203.0,24.0,Home,Rural,Graduate,Male,MNC,No
998,999.0,9083.0,7380.0,Unemployed,50.0,Single,1.0,748.0,3.0,0.31,13491.0,8933.0,10290.0,36.0,Personal,Urban,Graduate,Male,Private,Yes
999,1000.0,13093.0,2385.0,Salaried,23.0,Married,1.0,613.0,3.0,0.32,12436.0,25816.0,35818.0,48.0,Personal,Semiurban,Graduate,NaN,Private,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Applicant_ID        950 non-null    float64
 1   Applicant_Income    950 non-null    float64
 2   Coapplicant_Income  950 non-null    float64
 3   Employment_Status   950 non-null    object
 4   Age                 950 non-null    float64
 5   Marital_Status      950 non-null    object
 6   Dependents          950 non-null    float64
 7   Credit_Score        950 non-null    float64
 8   Existing_Loans      950 non-null    float64
 9   DTI_Ratio           950 non-null    float64
 10  Savings             950 non-null    float64
 11  Collateral_Value    950 non-null    float64
 12  Loan_Amount         950 non-null    float64
 13  Loan_Term           950 non-null    float64
 14  Loan_Purpose        950 non-null    object
 15  Property_Area       950 non-null    object
 16  Education_Level     950 non-null    object
 17  Gender              950 non-null    object
 18  Employer_Category   950 non-null    object
 19  Loan_Approved       950 non-null    object
dtypes: float64(12), object(8)
memory usage: 156.4+ KB

In [5]:
# Count null values in id column
print(df['Applicant_ID'].isnull().sum())

50

In [6]:
df.count()

Applicant_ID          950
Applicant_Income      950
Coapplicant_Income    950
Employment_Status     950
Age                   950
Marital_Status        950
Dependents            950
Credit_Score          950
Existing_Loans        950
DTI_Ratio             950
Savings               950
Collateral_Value      950
Loan_Amount           950
Loan_Term             950
Loan_Purpose          950
Property_Area         950
Education_Level       950
Gender                950
Employer_Category     950
Loan_Approved         950
dtype: int64

In [7]:
catergorical_cols = df.select_dtypes(include=["object"]).columns
numerical_cols = df.select_dtypes(include=["number"]).columns

In [8]:
catergorical_cols

Index(['Employment_Status', 'Marital_Status', 'Loan_Purpose', 'Property_Area',
       'Education_Level', 'Gender', 'Employer_Category', 'Loan_Approved'],
      dtype='object')

In [9]:
numerical_cols

Index(['Applicant_ID', 'Applicant_Income', 'Coapplicant_Income', 'Age',
       'Dependents', 'Credit_Score', 'Existing_Loans', 'DTI_Ratio', 'Savings',
       'Collateral_Value', 'Loan_Amount', 'Loan_Term'],
      dtype='object')

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
num_imp = SimpleImputer(strategy = "mean")
df[numerical_cols] = num_imp.fit_transform(df[numerical_cols])

In [12]:
df.head()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,Loan_Term,Loan_Purpose,Property_Area,Education_Level,Gender,Employer_Category,Loan_Approved
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,84.0,Personal,Urban,Not Graduate,Female,Private,No
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,48.0,Car,Semiurban,Graduate,NaN,Private,No
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,72.0,NaN,Urban,NaN,Female,Government,Yes
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,60.0,Business,Rural,Graduate,Female,Government,No
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,72.0,Car,NaN,Graduate,Male,Private,Yes

In [13]:
cat_imp = SimpleImputer(strategy="most_frequent")
df[catergorical_cols] = cat_imp.fit_transform(df[catergorical_cols])

In [14]:
df.head()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,Loan_Term,Loan_Purpose,Property_Area,Education_Level,Gender,Employer_Category,Loan_Approved
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,84.0,Personal,Urban,Not Graduate,Female,Private,No
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,48.0,Car,Semiurban,Graduate,Male,Private,No
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,72.0,Business,Urban,Graduate,Female,Government,Yes
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,60.0,Business,Rural,Graduate,Female,Government,No
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,72.0,Car,Urban,Graduate,Male,Private,Yes

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Applicant_ID        1000 non-null   float64
 1   Applicant_Income    1000 non-null   float64
 2   Coapplicant_Income  1000 non-null   float64
 3   Employment_Status   1000 non-null   object
 4   Age                 1000 non-null   float64
 5   Marital_Status      1000 non-null   object
 6   Dependents          1000 non-null   float64
 7   Credit_Score        1000 non-null   float64
 8   Existing_Loans      1000 non-null   float64
 9   DTI_Ratio           1000 non-null   float64
 10  Savings             1000 non-null   float64
 11  Collateral_Value    1000 non-null   float64
 12  Loan_Amount         1000 non-null   float64
 13  Loan_Term           1000 non-null   float64
 14  Loan_Purpose        1000 non-null   object
 15  Property_Area       1000 non-null   object
 16  Education_Level     1000 non-null   object
 17  Gender              1000 non-null   object
 18  Employer_Category   1000 non-null   object
 19  Loan_Approved       1000 non-null   object
dtypes: float64(12), object(8)
memory usage: 156.4+ KB

In [16]:
count = df["Loan_Approved"].value_counts()

In [17]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

le = LabelEncoder()
df["Education_Level"] = le.fit_transform(df["Education_Level"])
df["Loan_Approved"] = le.fit_transform(df["Loan_Approved"])

In [18]:
cols = ["Employment_Status","Marital_Status","Loan_Purpose","Property_Area","Gender","Employer_Category"]

In [19]:
ohe = OneHotEncoder(drop="first",sparse_output=False , handle_unknown="ignore")
encoded = ohe.fit_transform(df[cols])
encoded_df = pd.DataFrame(encoded , columns=ohe.get_feature_names_out(cols), index=df.index)
df = pd.concat([df.drop(columns=cols),encoded_df],axis=1)

In [20]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Applicant_ID                     1000 non-null   float64
 1   Applicant_Income                 1000 non-null   float64
 2   Coapplicant_Income               1000 non-null   float64
 3   Age                              1000 non-null   float64
 4   Dependents                       1000 non-null   float64
 5   Credit_Score                     1000 non-null   float64
 6   Existing_Loans                   1000 non-null   float64
 7   DTI_Ratio                        1000 non-null   float64
 8   Savings                          1000 non-null   float64
 9   Collateral_Value                 1000 non-null   float64
 10  Loan_Amount                      1000 non-null   float64
 11  Loan_Term                        1000 non-null   float64
 12  Education_Level                  1000 non-null   int64
 13  Loan_Approved                    1000 non-null   int64
 14  Employment_Status_Salaried       1000 non-null   float64
 15  Employment_Status_Self-employed  1000 non-null   float64
 16  Employment_Status_Unemployed     1000 non-null   float64
 17  Marital_Status_Single            1000 non-null   float64
 18  Loan_Purpose_Car                 1000 non-null   float64
 19  Loan_Purpose_Education           1000 non-null   float64
 20  Loan_Purpose_Home                1000 non-null   float64
 21  Loan_Purpose_Personal            1000 non-null   float64
 22  Property_Area_Semiurban          1000 non-null   float64
 23  Property_Area_Urban              1000 non-null   float64
 24  Gender_Male                      1000 non-null   float64
 25  Employer_Category_Government     1000 non-null   float64
 26  Employer_Category_MNC            1000 non-null   float64
 27  Employer_Category_Private        1000 non-null   float64
 28  Employer_Category_Unemployed     1000 non-null   float64
dtypes: float64(27), int64(2)
memory usage: 226.7 KB

In [22]:
x = df.drop("Loan_Approved" , axis=1)
y = df["Loan_Approved"]

In [37]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, confusion_matrix, accuracy_score, recall_score,f1_score

x_train , x_test , y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

scaler = StandardScaler();
x_train = scaler.fit_transform(x_train);
x_test = scaler.transform(x_test)

lr = LogisticRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_test)

In [49]:
print("Precision_Score",precision_score(y_test,pred))
print("confusion_matrix",confusion_matrix(y_test,pred))
print("accuracy_score",accuracy_score(y_test,pred))
print("recall_score",recall_score(y_test,pred))
print("f1_score",f1_score(y_test,pred))

Precision_Score 0.5957446808510638
confusion_matrix [[120  19]
 [ 33  28]]
accuracy_score 0.74
recall_score 0.45901639344262296
f1_score 0.5185185185185185

In [48]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)

knn.fit(x_train,y_train)
pred = knn.predict(x_test)
print("Precision_Score",precision_score(y_test,pred))
print("confusion_matrix",confusion_matrix(y_test,pred))
print("accuracy_score",accuracy_score(y_test,pred))
print("recall_score",recall_score(y_test,pred))
print("f1_score",f1_score(y_test,pred))

Precision_Score 0.5957446808510638
confusion_matrix [[120  19]
 [ 33  28]]
accuracy_score 0.74
recall_score 0.45901639344262296
f1_score 0.5185185185185185

In [47]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

nb.fit(x_train,y_train)
pred = nb.predict(x_test)
print("Precision_Score",precision_score(y_test,pred))
print("confusion_matrix",confusion_matrix(y_test,pred))
print("accuracy_score",accuracy_score(y_test,pred))
print("recall_score",recall_score(y_test,pred))
print("f1_score",f1_score(y_test,pred))

Precision_Score 0.8035714285714286
confusion_matrix [[128  11]
 [ 16  45]]
accuracy_score 0.865
recall_score 0.7377049180327869
f1_score 0.7692307692307693

In [55]:
df["DTI_Ratio_sq"] = df["DTI_Ratio"]**2
df["Credit_score_sq"] = df["Credit_Score"]**2
df["Applicant_Income_log"] = np.log1p(df["Applicant_Income"])
x = df.drop(columns=["DTI_Ratio","Credit_Score","Loan_Approved","Applicant_Income"])
y = df["Loan_Approved"]

In [56]:
x_train , x_test , y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

scaler = StandardScaler();
x_train = scaler.fit_transform(x_train);
x_test = scaler.transform(x_test)

In [58]:
lr = LogisticRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_test)
print("Precision_Score",precision_score(y_test,pred))
print("confusion_matrix",confusion_matrix(y_test,pred))
print("accuracy_score",accuracy_score(y_test,pred))
print("recall_score",recall_score(y_test,pred))
print("f1_score",f1_score(y_test,pred))

Precision_Score 0.7777777777777778
confusion_matrix [[125  14]
 [ 12  49]]
accuracy_score 0.87
recall_score 0.8032786885245902
f1_score 0.7903225806451613