In [95]:
import pandas as pd
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train["Fence"].fillna(0, inplace=True)

/tmp/ipython-input-421464680.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train["Fence"].fillna(0, inplace=True)

In [5]:
train.head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,0,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,0,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,0,NaN,0,6,2008,WD,Normal,159000
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000

In [6]:
train['PoolQC'] =  train['PoolQC'].replace({
    'Ex' : 4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'NA': 0,
})

/tmp/ipython-input-3051100512.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['PoolQC'] =  train['PoolQC'].replace({

In [7]:
train['PoolQC'].fillna(0,inplace =True)

/tmp/ipython-input-3167983575.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['PoolQC'].fillna(0,inplace =True)

In [8]:
train["PavedDrive"] = train["PavedDrive"].replace({
    "Y": 3,  # Highest rank for fully paved
    "P": 2,  # Medium rank for partial pavement
    "N": 1   # Lowest rank for dirt/gravel
})

/tmp/ipython-input-3282913868.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train["PavedDrive"] = train["PavedDrive"].replace({

In [9]:
train['GarageCond'] = train['GarageCond'].replace({
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
})
train['GarageCond'].fillna(0,inplace=True)

/tmp/ipython-input-3440068145.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['GarageCond'] = train['GarageCond'].replace({
/tmp/ipython-input-3440068145.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['GarageCond'].fillna(0,inplace=True)

In [10]:
train['GarageCond']

0       3.0
1       3.0
2       3.0
3       3.0
4       3.0
       ...
1455    3.0
1456    3.0
1457    3.0
1458    3.0
1459    3.0
Name: GarageCond, Length: 1460, dtype: float64

In [11]:
train.groupby('GarageCond').count()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
GarageCond,,,,,,,,,,,,,,,,,,,,,
0.0,81,81,81,74,81,81,9,81,81,81,...,81,81,81,3,81,81,81,81,81,81
1.0,7,7,7,6,7,7,2,7,7,7,...,7,7,7,0,7,7,7,7,7,7
2.0,35,35,35,32,35,35,10,35,35,35,...,35,35,35,2,35,35,35,35,35,35
3.0,1326,1326,1326,1082,1326,1326,69,1326,1326,1326,...,1326,1326,1326,48,1326,1326,1326,1326,1326,1326
4.0,9,9,9,5,9,9,1,9,9,9,...,9,9,9,0,9,9,9,9,9,9
5.0,2,2,2,2,2,2,0,2,2,2,...,2,2,2,1,2,2,2,2,2,2

In [12]:
train['MSSubClass'].isnull().count()

np.int64(1460)

In [13]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,46.660274,21.954110,3.409589,15.060959,2.758904,0.013014,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,66.256028,61.119149,29.317331,55.757415,40.177307,0.204059,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,547.000000,552.000000,508.000000,480.000000,738.000000,4.000000,15500.000000,12.000000,2010.000000,755000.000000

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1460 non-null   float64
 65  PavedDrive     1460 non-null   int64
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   float64
 73  Fence          1460 non-null   object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(5), int64(36), object(40)
memory usage: 924.0+ KB

In [15]:
train = pd.get_dummies(train, columns=['MSZoning'], drop_first=True)

In [16]:
train.head()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,1,60,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,2,2008,WD,Normal,208500,False,False,True,False
1,2,20,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,5,2007,WD,Normal,181500,False,False,True,False
2,3,60,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,9,2008,WD,Normal,223500,False,False,True,False
3,4,70,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,2,2006,WD,Abnorml,140000,False,False,True,False
4,5,60,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,12,2008,WD,Normal,250000,False,False,True,False

In [17]:
train['LotFrontage'].fillna(train['LotFrontage'].median(), inplace=True)

/tmp/ipython-input-3577323804.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['LotFrontage'].fillna(train['LotFrontage'].median(), inplace=True)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 84 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   Alley          91 non-null     object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     588 non-null    object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    object
 57  GarageType     1379 non-null   object
 58  GarageYrBlt    1379 non-null   float64
 59  GarageFinish   1379 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   object
 63  GarageCond     1460 non-null   float64
 64  PavedDrive     1460 non-null   int64
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  PoolQC         1460 non-null   float64
 72  Fence          1460 non-null   object
 73  MiscFeature    54 non-null     object
 74  MiscVal        1460 non-null   int64
 75  MoSold         1460 non-null   int64
 76  YrSold         1460 non-null   int64
 77  SaleType       1460 non-null   object
 78  SaleCondition  1460 non-null   object
 79  SalePrice      1460 non-null   int64
 80  MSZoning_FV    1460 non-null   bool
 81  MSZoning_RH    1460 non-null   bool
 82  MSZoning_RL    1460 non-null   bool
 83  MSZoning_RM    1460 non-null   bool
dtypes: bool(4), float64(5), int64(36), object(39)
memory usage: 918.3+ KB

In [19]:
train['Street'] = train['Street'].map({'Grvl': 0, 'Pave': 1})

In [20]:
train['Alley'] = train['Alley'].fillna('None')

In [21]:
train = pd.get_dummies(train, columns=['Alley'], drop_first=True)

In [22]:
lotshape_map = {
    'Reg': 3,
    'IR1': 2,
    'IR2': 1,
    'IR3': 0
}

train['LotShape'] = train['LotShape'].map(lotshape_map)

In [23]:
landcontour_map = {
    'Lvl': 3,
    'Bnk': 2,
    'HLS': 1,
    'Low': 0
}

train['LandContour'] = train['LandContour'].map(landcontour_map)

In [24]:
utilities_map = {
    'AllPub': 3,
    'NoSewr': 2,
    'NoSeWa': 1,
    'ELO': 0
}

train['Utilities'] = train['Utilities'].map(utilities_map)

In [25]:
train = pd.get_dummies(train, columns=['LotConfig'], drop_first=True)

In [26]:
landslope_map = {
    'Gtl': 2,
    'Mod': 1,
    'Sev': 0
}

train['LandSlope'] = train['LandSlope'].map(landslope_map)

In [27]:
train['LandSlope'].isnull().count()

np.int64(1460)

In [28]:
train = pd.get_dummies(train, columns=['Neighborhood'], drop_first=True)

In [29]:
train = pd.get_dummies(train, columns=['Condition1'], drop_first=True)

In [30]:
train.drop(columns=['Condition2'], inplace=True)

In [31]:
train['BldgType'].isnull().count()

np.int64(1460)

In [32]:
train = pd.get_dummies(train, columns=['BldgType'], drop_first=True)

In [33]:
train = pd.get_dummies(train, columns=['HouseStyle'], drop_first=True)

In [34]:
train['YearBuilt'].min()

1872

In [35]:
train['YearBuilt'].max()

2010

In [36]:
train['HouseAge'] = 2010 - train['YearBuilt']

In [37]:
train.drop(columns=['YearBuilt'], inplace=True)

In [38]:
train['RemodelAge'] = 2010 - train['YearRemodAdd']

In [39]:
train.drop(columns=['YearRemodAdd'], inplace=True)

In [40]:
train = pd.get_dummies(train, columns=['RoofStyle'], drop_first=True)

In [41]:
train.drop(columns=['RoofMatl'], inplace=True)

Not yet executed

In [42]:
train['Exterior1st'].fillna(train['Exterior1st'].mode()[0], inplace=True)
train['Exterior2nd'].fillna(train['Exterior2nd'].mode()[0], inplace=True)
train = pd.get_dummies(
    train,
    columns=['Exterior1st', 'Exterior2nd'],
    drop_first=True
)

/tmp/ipython-input-808121205.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Exterior1st'].fillna(train['Exterior1st'].mode()[0], inplace=True)
/tmp/ipython-input-808121205.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Exterior2nd'].fillna(train['Exterior2nd'].mode()[0], inplace=True)

In [43]:
train['MasVnrType'] = train['MasVnrType'].fillna('None')

In [44]:
train = pd.get_dummies(train, columns=['MasVnrType'], drop_first=True)

In [45]:
train['MasVnrArea'] = train['MasVnrArea'].fillna(0)

In [46]:
qual_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'Po': 0
}

train['ExterQual'] = train['ExterQual'].map(qual_map)
train['ExterCond'] = train['ExterCond'].map(qual_map)

In [47]:
train = pd.get_dummies(train, columns=['Foundation'], drop_first=True)

In [48]:
train['BsmtQual'] = train['BsmtQual'].fillna('NA')

In [49]:
bsmtqual_map = {
    'Ex': 5,
    'Gd': 4,
    'TA': 3,
    'Fa': 2,
    'Po': 1,
    'NA': 0
}

train['BsmtQual'] = train['BsmtQual'].map(bsmtqual_map)

In [50]:
train['BsmtCond'] = train['BsmtCond'].fillna('NA')

In [51]:
bsmtcond_map = {
    'Ex': 5,
    'Gd': 4,
    'TA': 3,
    'Fa': 2,
    'Po': 1,
    'NA': 0
}

train['BsmtCond'] = train['BsmtCond'].map(bsmtcond_map)

In [52]:

train['BsmtExposure'] = train['BsmtExposure'].fillna('NA')
bsmt_exposure_map = {
    'Gd': 4,
    'Av': 3,
    'Mn': 2,
    'No': 1,
    'NA': 0
}
train['BsmtExposure'] = train['BsmtExposure'].map(bsmt_exposure_map)

In [53]:
train['BsmtFinType1'] = train['BsmtFinType1'].fillna('NA')
bsmt_fin_map = {
    'GLQ': 6,
    'ALQ': 5,
    'BLQ': 4,
    'Rec': 3,
    'LwQ': 2,
    'Unf': 1,
    'NA': 0
}
train['BsmtFinType1'] = train['BsmtFinType1'].map(bsmt_fin_map)


train['BsmtFinType2'] = train['BsmtFinType2'].fillna('NA')
train['BsmtFinType2'] = train['BsmtFinType2'].map(bsmt_fin_map)

In [54]:

bsmt_sf_cols = ['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF']
for col in bsmt_sf_cols:
    train[col] = train[col].fillna(0)

In [55]:
train = pd.get_dummies(train, columns=['Heating'], drop_first=True)

heatingqc_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'Po': 0
}
train['HeatingQC'] = train['HeatingQC'].map(heatingqc_map)

train['HeatingQC'].fillna(2, inplace=True)

/tmp/ipython-input-186607727.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['HeatingQC'].fillna(2, inplace=True)

In [56]:
train['CentralAir'] = train['CentralAir'].map({'N': 0, 'Y': 1})

In [57]:
train['Electrical'] = train['Electrical'].fillna('SBrkr')
train = pd.get_dummies(train, columns=['Electrical'], drop_first=True)

In [63]:
# =========================
# Floor area features (numeric)
# =========================
area_cols = [
    '1stFlrSF',
    '2ndFlrSF',
    'LowQualFinSF',
    'GrLivArea'
]

for col in area_cols:
    train[col] = train[col].fillna(0)

# Optional but very useful
train['TotalLivSF'] = (
    train['1stFlrSF'] +
    train['2ndFlrSF'] +
    train['LowQualFinSF']
)

# =========================
# Bathroom features
# =========================
bath_cols = [
    'BsmtFullBath',
    'BsmtHalfBath',
    'FullBath',
    'HalfBath'
]

for col in bath_cols:
    train[col] = train[col].fillna(0)

# Weighted total bathrooms (common Kaggle trick)
train['TotalBath'] = (
    train['FullBath'] +
    0.5 * train['HalfBath'] +
    train['BsmtFullBath'] +
    0.5 * train['BsmtHalfBath']
)

# =========================
# Room count features
# =========================
room_cols = ['BedroomAbvGr', 'KitchenAbvGr']

for col in room_cols:
    train[col] = train[col].fillna(train[col].median())

In [64]:
kitchenqual_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'Po': 0
}
train['KitchenQual'] = train['KitchenQual'].map(kitchenqual_map)
train['KitchenQual'].fillna(2, inplace=True)

/tmp/ipython-input-2258143763.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['KitchenQual'].fillna(2, inplace=True)

In [65]:
train['TotRmsAbvGrd'] = train['TotRmsAbvGrd'].fillna(train['TotRmsAbvGrd'].median())

In [66]:
functional_map = {
    'Typ': 6,
    'Min1': 5,
    'Min2': 4,
    'Mod': 3,
    'Maj1': 2,
    'Maj2': 1,
    'Sev': 0,
    'Sal': 0
}
train['Functional'] = train['Functional'].map(functional_map)
train['Functional'].fillna(6, inplace=True)

/tmp/ipython-input-1009325549.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Functional'].fillna(6, inplace=True)

In [67]:
train['Fireplaces'] = train['Fireplaces'].fillna(0)

In [68]:
train['FireplaceQu'] = train['FireplaceQu'].fillna('NA')
fireplacequ_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'Po': 0,
    'NA': 0
}
train['FireplaceQu'] = train['FireplaceQu'].map(fireplacequ_map)

In [69]:
train['GarageType'] = train['GarageType'].fillna('NA')
train = pd.get_dummies(train, columns=['GarageType'], drop_first=True)


train['GarageYrBlt'] = train['GarageYrBlt'].fillna(0)


train['GarageFinish'] = train['GarageFinish'].fillna('NA')
garagefinish_map = {
    'Fin': 2,
    'RFn': 1,
    'Unf': 0,
    'NA': 0
}
train['GarageFinish'] = train['GarageFinish'].map(garagefinish_map)

In [70]:
train['GarageCars'] = train['GarageCars'].fillna(0)
train['GarageArea'] = train['GarageArea'].fillna(0)

In [71]:
train['GarageQual'] = train['GarageQual'].fillna('NA')
train['GarageCond'] = train['GarageCond'].fillna('NA')

In [72]:
garageqc_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'Po': 0,
    'NA': 0
}

train['GarageQual'] = train['GarageQual'].map(garageqc_map)
train['GarageCond'] = train['GarageCond'].map(garageqc_map)

In [73]:
pavedd_map = {
    'Y': 2,
    'P': 1,
    'N': 0
}

train['PavedDrive'] = train['PavedDrive'].map(pavedd_map)
train['PavedDrive'].fillna(0, inplace=True)

/tmp/ipython-input-1238528507.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['PavedDrive'].fillna(0, inplace=True)

In [74]:
area_cols = [
    'WoodDeckSF',
    'OpenPorchSF',
    'EnclosedPorch',
    '3SsnPorch',
    'ScreenPorch',
    'PoolArea'
]

for col in area_cols:
    train[col] = train[col].fillna(0)

In [75]:
train['PoolQC'] = train['PoolQC'].fillna('NA')
poolqc_map = {
    'Ex': 4,
    'Gd': 3,
    'TA': 2,
    'Fa': 1,
    'NA': 0
}
train['PoolQC'] = train['PoolQC'].map(poolqc_map)

In [76]:

train['Fence'] = train['Fence'].fillna('NA')
fence_map = {
    'GdPrv': 4,
    'MnPrv': 3,
    'GdWo': 2,
    'MnWw': 1,
    'NA': 0
}
train['Fence'] = train['Fence'].map(fence_map)

In [77]:
train['MiscFeature'] = train['MiscFeature'].fillna('NA')
train = pd.get_dummies(train, columns=['MiscFeature'], drop_first=True)

In [78]:
train['MiscVal'] = train['MiscVal'].fillna(0)

In [80]:
import numpy as np

train['MoSold_sin'] = np.sin(2 * np.pi * train['MoSold'] / 12)
train['MoSold_cos'] = np.cos(2 * np.pi * train['MoSold'] / 12)

In [81]:
train['SaleType'] = train['SaleType'].fillna('WD')
train = pd.get_dummies(train, columns=['SaleType'], drop_first=True)

In [82]:
train = pd.get_dummies(train, columns=['SaleCondition'], drop_first=True)

In [83]:
from sklearn.model_selection import train_test_split

X = train.drop(columns=['SalePrice'])
y = train['SalePrice']

X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [85]:
import numpy as np
from sklearn.metrics import mean_squared_error

baseline_pred = np.full(len(y_valid), y_train.mean())
baseline_rmse = np.sqrt(mean_squared_error(y_valid, baseline_pred))

print("Baseline RMSE:", baseline_rmse)

Baseline RMSE: 87619.03450611533

In [100]:
# Check NaNs in training features
X.isnull().sum().sort_values(ascending=False).head(20)
# Final NaN cleanup (REQUIRED for LinearRegression)
X = X.fillna(0)
test = test.fillna(0)

In [102]:
X.select_dtypes(include='object').columns

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [103]:
# Combine train & test to ensure SAME encoding
full = pd.concat([X, test], axis=0)

# One-hot encode ALL remaining categorical columns
full = pd.get_dummies(full)

# Split back
X = full.iloc[:len(X), :]
test = full.iloc[len(X):, :]

In [104]:
X = X.fillna(0)
test = test.fillna(0)

In [105]:
import numpy as np
from sklearn.linear_model import LinearRegression

final_model = LinearRegression()

# log target
final_model.fit(X, np.log1p(y))

test_preds = np.expm1(final_model.predict(test))

In [106]:
submission = pd.DataFrame({
    'Id': test.index,
    'SalePrice': test_preds
})

submission.to_csv('submission.csv', index=False)

In [98]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
y_train_log = np.log1p(y_train)
y_valid_log = np.log1p(y_valid)

lr = LinearRegression()
lr.fit(X_train, y_train_log)

pred_log = lr.predict(X_valid)
pred = np.expm1(pred_log)

lr_rmse = np.sqrt(mean_squared_error(y_valid, pred))
print("Linear Regression RMSE:", lr_rmse)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [92]:
train.isnull().sum()

Id                       0
MSSubClass               0
LotFrontage              0
LotArea                  0
Street                   0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 192, dtype: int64

In [93]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(
    n_estimators=300,
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

rf_pred = rf.predict(X_valid)
rf_rmse = np.sqrt(mean_squared_error(y_valid, rf_pred))

print("Random Forest RMSE:", rf_rmse)

Random Forest RMSE: 28278.04108091143

In [96]:
# Separate target
y = train['SalePrice']
X = train.drop(columns=['SalePrice'])

# Align columns
X, test = X.align(test, join='left', axis=1)

# Fill any remaining missing values in test
test = test.fillna(0)

In [97]:
from sklearn.ensemble import RandomForestRegressor

final_model = RandomForestRegressor(
    n_estimators=500,
    random_state=42,
    n_jobs=-1
)

final_model.fit(X, y)

ValueError: could not convert string to float: 'RL'

In [107]:
submission = pd.DataFrame({
    'Id': test['Id'],
    'SalePrice': test_preds
})

submission.to_csv('submission2.csv', index=False)